.comment-list-item {
  text-align: left;
  border-top: 1px solid lightgrey;
  font-size: 14px;
  padding-top: 10px;
  margin-bottom: 10px;
}

.comment-list-item > header {
  font-weight: bold;
  display: inline-block;
}

.comment-list-item > .comment-date {
  font-size: smaller;
  color: grey;
  display: inline-block;
  padding-left: 20px;
}

.comment-list-item > p {
  padding-left: 10px;
}

.comment-form > .comment-form-fieldset {
  padding-bottom: 15px;
  text-align: left;
}

.comment-input > .form-textarea {
  width: 100%;
  border: 1px solid lightgrey;
  background: white;
}

.form-textarea {
  padding: 10px;
}
