<div id="content">
  <!-- <% if logged_in? %>
    <script type="text/javascript" charset="utf-8">
      var userParams = {
        email: "<%= current_user.email %>"
      }
      if (!UserStore.isSignedIn()){
        SessionActions.signinUser(userParams);
      } else if (UserStore.current_user().email != userParams.email) {
        SessionActions.signoutUser();
        SessionUtil.fetchCurrentUser();
      }
    </script>
  <% end %> -->

</div>
