<div id="content">
  <!-- <% if logged_in? %>
    Yes!
    <script type="text/javascript" charset="utf-8">
      var userParams = {
        email: "<%= current_user.email %>"
      }
      debugger
      if (!UserStore.isSignedIn()){
        // Use Jbuilder object later...
        UserActions.signinUser(userParams);
      } else if (UserStore.current_user().email != userParams.email) {
        UserActions.signoutUser();
        AuthUtil.fetchCurrentUser(userParams);
      }
    </script>
  <% end %> -->
  
</div>
