.collapsible-content-active {
  position: absolute;
}

.collapsible-content-inactive {
  display: none;
}

.navbar-list {
  float: left;
}

.project-records-list, .user-records-list {
  list-style: square;
}
