.header-main {
  height: 42px;
  width: 100%;
  background-color: rgba(251,248,245,0.98);
  border-bottom: 1px solid rgba(0,0,0,0.1);
  box-shadow: 0 2px 2px -2px;
}

.navbar {
  width: 981px;
  height: 100%;
  margin: auto;
}

.nav-menu-scroll {
  overflow-y: overlay;
}

.nav-menu-content {
  max-height: calc(100vh - 80px);
  border-top-left-radius: 0;
  left: 0;
  width: 36rem;
  background-color: #856ec6;
  border: 0;
  color: #fff;
  white-space: normal;
  width: 30rem;
  position: absolute;
  top: 3.2rem;
  white-space: normal;
  border-radius: 4px;

}



div {
  display: block;
}

.flush {
  margin: 0 !important;
}
.group:after {
  content: "";
  clear: both;
  display: block;
}

.topnav {
  height: 39px;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  background-color: rgba(251,248,245,0.98);
  box-sizing: border-box;
  position: fixed;
}

.topnav-ribbon {

  box-sizing: border-box;
  margin: 0 auto;
  position: relative;
  white-space: nowrap;
  text-align: center;
}
.list-unbulleted {
  list-style: none;
}

.topnav-ribbon .topnav-item-left {
  position: absolute;
  left: 0;
  box-sizing: border-box;

}

.topnav-item-centered {
  text-align: center;
}

.topnav-item-right {
  position: absolute;
  right: 0;
  box-sizing: border-box;
}

.topnav-menu {
  display: inline-block;
  position: relative;
}

/*.topnav-ribbon > .topnav-item-centered {
  margin: auto;
}*/
