.step-form {
  margin: 0 0 20px 0;
}

.step-form > .error-list {
  z-index: 20;
  /* top: -35px; */
  position: absolute;
}

.new-step {
  display: none;
}

.new-step-expanded {
  z-index: 5;
  display: block;
/*position: absolute;*/
/* text-align: center; */
/*right: -42px;
top: 93px;*/
}

.step-form-fieldset {
  margin: auto;
  margin-top: 10px;
  padding: 19px;
  width: 500px;
  text-align: left;
  background: #eee;
  border: 1px solid #ccc;
  border-radius: 5px;
  /*right: 190px;*/
  position: relative;
  /*top: -58px;*/
}

.step-form-fieldset > h3 {
  text-align: center;
}

.step-input {
  margin: 0 0 20px 0;
}

.step-input > label {
  display: block;
  font-weight: 700;
  padding: 0 0 5px 0;
}

.step-input input,
.step-input textarea {
  display: block;
  /* background: #fff; */
  border-bottom: 1px solid #ccc;
  padding: 10px;
  width: calc(100% - 22px);
  border-radius: 2px;
  font-weight: 500;
}

#assign-members {
  display: block;
  width: 100%;
  padding: 10px;
  font-weight: 500;
}

#assign-members-label > span:last-child {
  width: 500px;
  font-size: 14px;
  font-weight: 500;
}

.step-input input:focus,
.step-input textarea:focus {
  border-color: #0c0;
}

.step-input .r-autocomplete {
  border-bottom: 1px solid #ccc;
}

.step-input textarea {
  height: 66px;
  overflow-wrap: break-word;
  overflow-y: auto;
}

.step-submit {
  margin: 20px 0 0 0;
  padding: 0 0 3px 0;
  font-size: 12px;
}

.step-submit > input {
  padding: 2px 10px;
}

.step-submit > .submit-btn {
  position: relative;
  padding: 10px 20px;
  color: #fff;
  background: #0c0;
  font-weight: 700;
  border-radius: 5px;
  box-shadow: 0 3px 0 0 #070;
}

.step-submit > .submit-btn:hover {
  background: #0b0;
}

.step-submit > .submit-btn:active {
  top: 3px;
  background: #0a0;
  box-shadow: none;
}

.step-button-alternative {
  padding: 0 0 0 5px;
}

.step-button-alternative a {
  padding: 0 0 0 5px;
  font-weight: bold;
  cursor: pointer;
}

.step-button-alternative a:hover {
  color: #f00;
}

.form-radio-list .step-radio {
  float: left;
  width: initial;
  margin: 6px;
}

#step-submit-button {
  padding: 5px 10px;
}

.add-task-btn {
  /*left: 45px;*/
  font-size: 12px;
}

.step-input .step-datetime {
  width: 345px;
  margin: 0px;
  padding: 0px;
  margin-left: 54px;
  display: inline-block;
  border: none;
  color: rgba(128, 128, 128, 0.52);
  font-weight: 500;
  font-size: 12px;
}

.step-input .both-dates {
  margin-left: 25px;
}

.step-input .both-dates:last-child {
  margin-left: 28px;
}

#runs-to-span {
  margin-left: 95px;
}

#pickdate-due-on {
  /*width: 400px;*/
  margin-left: 50px;
  float: right;
  font-size: 12px;
  font-weight: 500;
}

#pickdates-start-at {
  float: right;
  position: relative;
  font-size: 12px;
  font-weight: 500;
  margin-left: 50px;

}

#pickdates-due-at {
  float: right;
  position: relative;
  font-size: 12px;
  font-weight: 500;
  margin-left: 50px;
}

.form-radio-list > label {
  padding-bottom: 20px;
}

.form-radio-list > label > h4 {
  display: inline-block;
}
