.todo-index-item {
  margin-top: 15px;
  text-align: left;
  border-top: 1px solid lightgrey;
}

.todo-header > span, .progress {
  display: inline-block;
  font-weight:bolder;
  padding-right: 5px;
  padding-left: 5px;
}

.new-todo-dropdown > button {
  text-align: center;
}

.new-step {
  display: none;
}

.new-step-expanded {
  display: block;
}

.todo-drag-handle{
  position: relative;
  top: 2px;
  background-image: url("../../dndHandle.gif");
  background-repeat: no-repeat;
  background-size: contain;
  height: 21px;
  width: 11px;
  float: left;
  /* display: -webkit-box; */
  margin-top: 0px;
  margin-right: 5px;
}

#todo-drag-handle {
  top: 18px;
}

.step-list {
  margin-top: 15px;
}

.step-checkbox-content .inert-checkbox{
  display: inline-block;
  padding-right: 10px;
  height: 15px;
  width: 15px;
}

.step-checkbox-content .checkbox-checked{
  background-image: url("../../checkbox_checked.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.step-checkbox-content .checkbox-unchecked{
  background-image: url("../../checkbox_unchecked.png");
  background-repeat: no-repeat;
  background-size: contain;
}

#todo-header {
  margin-top: 0;
}

#todo-header > h1:hover {
  text-decoration: underline;
}
