
.todo-form {
  margin: 0 0 20px 0;
}

.new-todo {
  display: none;
}

.new-todo-expanded {
  display: block;
}

.todo-form-fieldset {
  margin: auto;
  margin-top: 10px;
  padding: 19px;
  width: 500px;
  text-align: left;
  background: #eee;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.todo-input {
  margin: 0 0 20px 0;
}

.todo-input > label {
  display: block;
  font-weight: 700;
  padding: 0 0 5px 0;
}

.todo-input input,
.todo-input textarea {
  display: block;
  /*background: #fff;*/
  border-bottom: 1px solid #ccc;
  padding: 10px;
  width: calc(100% - 22px);
  border-radius: 2px;
}

.todo-input input:focus,
.todo-input textarea:focus {
  border-color: #0c0;
}

.todo-input textarea {
}

.todo-submit {
  margin: 20px 0 0 0;
  padding: 0 0 3px 0;
  font-size: 12px;
}

.todo-submit > input {
  padding: 5px 10px;
}

.todo-submit > .submit-btn {
  position: relative;
  padding: 10px 20px;
  color: #fff;
  background: #A6ABA6;
  font-weight: 700;
  border-radius: 5px;
  box-shadow: 0 3px 0 0 #555855
}

.todo-submit > .submit-btn:hover {
  background: #555855;
}

.todo-submit > .submit-btn:active {
  top: 3px;
  background: #555855;
  box-shadow: none;
}

.todo-button-alternative {
  padding: 0 0 0 5px;
}

.todo-button-alternative a {
  padding: 0 0 0 5px;
  font-weight: bold;
  cursor: pointer;
}

.todo-button-alternative a:hover {
  color: #f00;
}

.new-goal {
  text-align: -webkit-center;
  text-align: center
}

#todo-submit-button {
  padding: 5px 10px;
}
