.project-dock {
  display: block;
  box-sizing: border-box;
  text-align: center;
  position: relative;
  top: 50px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.dock-card {
  display: inline-block;
  width: 120px;
  height: 120px;
  margin: 0 0.5rem;
  padding: 0.4em 0.5em;
  vertical-align: top;
  overflow: hidden;
  position: relative;
  background: #fff;
  box-shadow: 0 1px 3px 0 #bfbfbf;
  border-radius: 100px;
  transition: width 0.2s,
              height 0.2s,
              background-color 1.5s
}

.dock-card:hover {
  background-color: #FFC;
  width: 180px;
  height: 180px;
  border-radius: 100px;
}



.project-dock-sidebar {
  /*display: block;
  box-sizing: border-box;
  text-align: center;
  position: relative;
  top: 50px;
  margin-top: 15px;
  margin-bottom: 15px;*/
  /* display: block; */
  box-sizing: border-box;
  /* text-align: center; */
  left: -130px;
  /* height: 345px; */
  float: left;
  /*margin-top: 15px;*/
  margin-bottom: 15px;
  z-index: 10;
  width: 150px;
  transition: transform 1s;
  display: block;
  position: fixed;
  top: 59px;
  height: 100%;
  text-align: left;
}

.project-dock-sidebar:hover {
  transform: translateX(130px);
}

.sidebar-locked {
  transform: translateX(130px);
}


.dock-cards-sidebar {
  background-color: lightgray;
  /* border-radius: 10px; */
  width: 150px;
  height: 100%;
  padding-top: 35px;
  border: 1px solid grey;
}

.dock-cards-sidebar .dock-card {
  display: inline-block;
  width: 100px;
  height: 40px;
  margin: 2px 3px;
  padding: 2px 5px;
  vertical-align: top;
  overflow: hidden;
  position: relative;
  background: #fff;
  box-shadow: 0 1px 3px 0 #bfbfbf;
  border-radius: 0.6rem;
  background-color: white;
  z-index: 1;
  transition: width .25s,
              height .25s,
              background-color .25s,
              transform .25s;
}

.dock-cards-sidebar .dock-card:hover {
  background-color: lightskyblue;
  width: 180px;
  height: 115px;
}

.dock-card .card-header {
  margin-bottom: 0.1rem;
}
.dock-cards > li {
  display: inline-block;
}

.project-dock .sidebar-arrow {
  display: none;
}

.project-dock-sidebar .sidebar-arrow {
  position: absolute;
  top: 93px;
  left: 122px;
  z-index: 0;
  font-size: 52px;
  color: antiquewhite;
}

.sidebar-lock-checkbox {
  position: absolute;

}

/*input[type="checkbox"] {
    display:none;
}
input[type="checkbox"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background-image:url(check_radio_sheet.png) left top no-repeat;
    background-size: contain;
    cursor:pointer;
}
input[type="checkbox"]:checked + label span {
    background-image:url(../check_radio_sheet.png) -19px top no-repeat;
    background-size: contain;
}*/

/*.schedules-card > .dock-card-content > div{
  background-image: url("../schedules_small.png");
}

.messages-card > .dock-card-content > div {
  background-image: url("../messages_small.png");
}

.docs-card > .dock-card-content > div {
  background-image: url("../docs_small.png");
}

.checkins-card > .dock-card-content > div {
  background-image: url("../checkins_small.png");
}

.chats-card > .dock-card-content > div {
  background-image: url("../chats_small.png");
}

.todos-card > .dock-card-content > div {
  background-image: url("../todos_small.png");
}*/

main {
  height: 100%
}

.dock-card div {
  background-image: url("../under_construction.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
}

.todos-card div {
  background-image: url("../todos_small.png");
  /*background-image: url("../mag_glass.png");*/
  background-repeat: no-repeat;
  background-size: contain;
}
