.project-main {
  display: block;
  position: relative;
  top: 59px;
  text-align: center;
  height: 100%;
}

.project-title {
  background: black;
  color: white;
}

.project-title:hover {
  font-weight: 900;
  text-decoration: underline;
}
