.project-main {
  display: block;
  position: relative;
  top: 59px;
  text-align: center;
  height: 100vh;
}

.project-header {
  background: #3967D2;
  color: white;
  font-size: xx-large;
  margin-bottom: 10px;
}


.project-header > .project-title:hover {
  font-weight: 900;
  text-decoration: underline;
}

.project-header-sidebar {
  // background: #3967D2;
  font-size: x-large;
  color: blue;
  text-decoration: underline;
  margin-bottom: 10px;
}

.project-header-sidebar > .project-title:hover {
  font-weight: 900;
}

.settings-link {
  background-image: url(image-path("gear_icon.png"));
  background-repeat: no-repeat;
  background-size: contain;
  height: 47px;
  width: 47px;
  position: absolute;
  float: right;
  right: 20px;
  top: 0px;
}

.settings-link:hover {
  height: 50px; width: 50px;
  top: -2px;
}
