.projects-index {
  text-align: -webkit-center;
  margin: auto;
  margin-top: 100px;
  color: grey;
  height: 100%;
}

.projects-index li {
  width: 250px;
  display: inline-block;
}

.project-links-list {
  max-width: 750px;
  margin-top: 20px;
  /*background: white;*/
  border-radius: 5px;
}

.project-links-list .project-dir {
  font-size: 25px;
}

.project-links-list .project-dir:hover {
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}

.projects-index-table {
  background: snow;
  border-top: 1px solid grey;
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.5), 0 2px 2px rgba(0,0,0,0.3), 0 0 4px 1px rgba(0,0,0,0.2);
  width: 500px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.project-links-list th {
  text-decoration: underline;
}

.project-links-list td {
  padding: 10px;
}

.projects-index-heading {
  font-size: 35px;
  font-weight: 700;
  text-decoration: underline;

  /*background-color: #856ec6;*/
}

.projects-table-members  .member-list-item {
  width: 50px;
}



.project-button {
  /*display: inline-block;*/
  margin: 15px;
  padding: 8px 15px;
  background: #3cb371;
  border: 1px solid rgba(0,0,0,0.15);
  border-radius: 5px;
  transition: all 0.3s ease-out;
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.5), 0 2px 2px rgba(0,0,0,0.3), 0 0 4px 1px rgba(0,0,0,0.2);
  text-decoration: none;
  text-shadow: 0 1px rgba(255,255,255,0.7);
  width: 150px;
  color: white;
  height: 20px;
  overflow: hidden;
  display: block;
  margin: auto;
  margin-top: 20px;
}

.new-project {
  font-weight: 900;
  display: inline;
  /*margin: 45%;*/
}

.projects-index .new-project {
  margin: 15px;
}

.delete-project-button {
  background-image: url(image-path("delete1.ico"));
  background-repeat: no-repeat;
  background-size: 100%;
  height: 30px;
  width: 30px;
}

.delete-project-button:hover {
  cursor: pointer;
}
