/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
  font-family: "Fakt Soft", "Helvetica Neue", helvetica, arial, sans-serif;
}

.header-nav {
  border: solid 1px black;
  background: green;
  height: 100px;

}

.header-nav > .header-nav-menu {
  border: solid 1px black;
  width: 100px;
}

.header-nav li {
  float: left;
  padding: 10px;
  list-style: none;
}

.logo {
  float: left;
}

.user {
  float: right;
}
