<!DOCTYPE html>
<html>
<head>
  <title>Treehaus</title>
  <link rel="icon" type="image/png" href="/images/logo.png" sizes="32x32" />
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= yield %>

</body>
</html>
